
form{
    /* text-align: center; */
    display:block;
    unicode-bidi: isolate;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 15px;
    background-color: hsl(0,3%,97%);
    font-family: "SF Pro Text", sans-serif;
}

form:hover{
    background-color: hsl(0,3%,94%);
}
form legend{
    font-size: 40px;
    
}
.driver-title{
    text-align: center;
    font-size: 80px;
    /* background-color: lightgray;  */
    background: linear-gradient(87deg, #727070, #d5d3d3);
    padding: 20px;
    margin-top: 10px;
}
button{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-size: 20px;
}
input{
    padding: 5px;
    margin: 5px;
}
input[type="text"]{
    font-size: 1.5rem;
    padding: 3px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: black;
    display:inline-flex;
    font-weight: normal;
    transition: 0.5s;
}
input[type=text]:focus {
    border: 2px solid hsla(0, 0%, 80%, 1.5);
}
li{
    font-size: 2rem;
    font-weight:bold;
    padding: 15px;
    margin: 20px 0px;
    border: 3px solid hsla(0,0%,85%, 0.75);
    background-color: hsl(0,0%,97%);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
li:hover{
    background-color: hsl(0,0%,87%);
}
.text{
    flex:1;
}
form label{
    font-size: 1.5rem;
    unicode-bidi: isolate;
}
.add-button{
    background-color: rgba(255, 255, 255, 0.419);
    display: block;
    margin: auto;
    border-color: black;
}
.add-button:hover{
    background-color: grey;
    color: black;
}
.delete-button{
    background-color:  white;
    border: none;
}
.delete-button:hover{
    background-color: grey;
    color: black;
}
.change-button{
    background-color: white;
    border: none;
}
.change-button:hover{
    background-color: grey;
    color: black;
}
.moveUp-button{
    background-color: white;
    border: none;
}
.moveUp-button:hover{
    background-color: grey;
    color: black;
}
.moveDown-button{
    background-color: white;
    border: none;
}
.moveDown-button:hover{
    background-color: grey;
    color: black;
}
.bar-control{
    padding: 30px 60px;
    background-color: whitesmoke;
    margin: 0px;
}
select {
    width: 100%;
    padding: 4px 5px;
    border-radius: 4px;
    background-color: white;
    font-size: 1.5rem;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
}
select:hover{
    cursor: pointer;
}
