.Path{
    width: 100%;
    height: 100vh;
}
.titlePath{
    color: black;
    margin-bottom: 10px;
}
#overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}
#popupStationDetail{
    display: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    width: 600px;
    height:600px;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    overflow: scroll;
}
#popupAddGoods{
    display: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    width: 600px;
    height:600px;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    overflow: scroll;
}
#successAddGoods{
    display: none;
}
.closebtn{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}