
body{
    width: 100vw;
    height: 100vh;
}
/* .mandiv{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
    background-color: gray;
} */