.carManage{
  background-color: antiquewhite;
  width: calc(100%-220px);
  height: 100%;
  margin-left: 220px;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
div{    
    grid-template-rows: auto 1fr;
}
#root{
  width: 100%;
  height: 100%;
}
.header{
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 50px;
    /* padding: 20px; */
    background: rgb(157, 219, 227);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 99; */
} 
.logo{
    width: 10%;
    height:100%;
    border-radius: 5px;
    background: rgb(157, 219, 227);
}
#thongbao{
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  font-size: 2em;
  color: #296a71;
  text-shadow: 2px 2px 4px rgba(96, 30, 30, 0.5);
  font-family: 'Arial', sans-serif; 
}
.site-name{
    font-size: 3rem;
    /* width: 30%;
    height:50%; */
    margin-right: 20%;;
    background: rgb(157, 219, 227);
    font-weight: bold;
    user-select: none; 
}
.page-content{
    width: 100%;
    height: 50px;
    display: inline-block;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
}
 .navigation {
    justify-content: center;
    align-items: center;
 }
 
 #nav{
    background-color: rgb(69, 63, 92);
    width: 100%;
 }
 #nav li{
    background-color: rgb(69, 63, 92);
    display: inline-block;
    font-weight: bold;
    user-select: none; 
 }
 #nav li button {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: rgb(34, 182, 84);
    background-color: rgb(69, 63, 92);
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
    padding: 0 24px 0 24px;
 }
 #nav li :hover{
    color: rgb(34, 182, 54);
    background-color: rgb(94, 40, 210);
 }
 .thongtinchung{
  display: flex;
  justify-content: center;
  height: 70%;
 }
 /* thong tin chung */
 .general{
  width: 30%;
  height: 70%;
  background-color: rgba(140, 230, 104, 0.137); /* Màu ghi trắng mờ */
  border: 3px solid #05a85f;
  padding: 20px;
  margin: 50px 20px;
  border-radius: 5px;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Hiệu ứng nổi */

 }
 .general h2 {
  font-size: 24px;
  color: #495057;
 }
.general p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #6c757d;
  text-align: left;
  font-weight: bold;
}
 .search{
  width: 70%;
  height: 100%;
  margin-top: 20px;
 }
 .search h2{
  font-size: 33px;
  color: #495057;
  text-align: center;
 }
 .search h3{
  font-size: 24px;
  color: #495057;
  text-align: left;
  margin-left: 80px;
 }
 .search input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  margin-left: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
 }
 .search button{
  padding: 10px 20px;
  width: 20%;
  margin-top: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 }
  .search button:hover {
    background-color: #45a049;
  }
  .searchInfo {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 0 20px;
  padding: 20px;
  background-color: #e5edb9; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  .searchInfo h4 {
    font-size: 24px;
    color: #1778d9;
    text-align: center;
  }
  .searchInfo p {
    font-size: 15px;
    color: #495057;
    text-align: left;
    margin-top: 8px;
    font-weight: bold;
  }
 .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    background-color: #f3f3f3;
  }
  
  th, td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  th {
    background-color: #04AA6D;
    color: white;
  }
  /* Lịch bao duong */
  .list-His{
    display: flex;
  }
  .list-His table{
    margin: 45px 0 0 20px;
  }
  #dangKyBaoDuong{
    display: flex;
  }
  #baoduong{
    display: flex;
  }
  /* Style cho form */
.form-container {
  flex-direction: column;
  align-items: flex-start;
  max-width: 30%;
  height: 180px;
  margin: 45px 0 0 20px;
  padding: 20px;
  background-color: #e5edb9; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.form-container h3,
.form-container form,
.form-container p {
  background-color: transparent;
}
/* Style cho label */
label {
  margin-bottom: 15px; /* Khoảng cách giữa các label */
  font-size: 16px; /* Kích thước chữ */
}

/* Style cho input */
input[type="text"] {
  /* width: 100%; */
  padding: 10px;
  margin-top: 5px; /* Khoảng cách giữa label và input */
  border: 1px solid #ccc; /* Viền cho input */
  border-radius: 5px; /* Bo góc cho input */
}
.submit-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #4CAF50; /* Màu nền cho nút */
  color: white; /* Màu chữ cho nút */
  border: none;
  border-radius: 5px; /* Bo góc cho nút */
  cursor: pointer; /* Con trỏ chuột khi hover qua nút */
}

/* Hiệu ứng khi hover qua nút submit */
.submit-button:hover {
  background-color: #45a049;
}
.lichsu{
  margin: 20px auto 0 20px;
}
/* thay doi thong tin */
.thaydoi{
  display: flex;

}
.thaydoi .form-container {
  flex-direction: column;
  align-items: flex-start;
  max-width: 30%; /* Hoặc chiều rộng bạn muốn */
  height: 200px;
  margin: 15px 0 0 20px; /* Khoảng cách giữa form và nút */
  padding: 20px;
  background-color: #e5edb9; /* Màu nền cho form */
  border-radius: 10px; /* Bo góc cho form */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.changeInfo{
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px; /* Bo góc cho form */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 100%;
  height: 360px;
  background-color: #e5edb9;
}
.changeInfo p{
  margin: 5px 0 0 15px;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  color: #147be2;
}
.changeInfo input{
  margin: 5px 0 0 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.changeInfo button{
  padding: 10px 20px;
  margin-top: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#buttonX{
  display: block;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
}
/*  */
/* them xe */
.themxe{
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: 20px 10px 10px 20px;
  padding: 20px;
  background-color: #e5edb9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.themxe h3{
  margin: 10px 0 0 10px;
  font-size: 24px;
  color: #1767b6;
}
.themxe input{
  width: 90%;
  margin: 5px 0 0 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.themxe select{
  margin: 5px 0 0 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.themxe button{
  width: 90%;
  padding: 10px 20px;
  margin-top: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
}
/*  */
.infor-table {
  font-family: 'Arial', sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.infor-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: #333;
  background-color: #6eb162;
}

#list-infor {
  background-color: #6eb162;
  color: #333;
}

#list-infor td {
  font-weight: bold;
}

.infor-table tr:hover {
  background-color: #6eb162;
}
.inputRadio{
  display: flex;
}
.history-change{
  display: flex;
}
.history-changeBus{
  width: 50%;
}
.history-changeTruck{
  width: 50%;
}
.history-add{
  display: flex;
}